asgiref
certifi
crispy-bootstrap5
distlib
Django
dj-database-url==0.5.0
django-crispy-forms
django-email
django-environ
EasyProcess
entrypoint2
filelock
MouseInfo
mss
mysql-connector-python
numpy
opencv-contrib-python
Pillow
pipenv
platformdirs
protobuf
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
pyscreenshot
PyScreeze
pytweening
sqlparse
tzdata
virtualenv
